.idea/
.vscode/
node_modules/
build/
temp/
.env
coverage
ormconfig.json
dist/

uploads/*
!uploads/.gitkeep

yarn-error.log
yarn.lock
globalConfig.json

coverage/
src/web-controllers/
test/web-controller/
reactjs/
src/infra/repositories/prisma/prisma-user-repository.ts